*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.material-symbols-outlined{
    font-size: 5rem;
    color: #000000;
    font-weight: 100;
}

#logout{
    font-size: 4rem;
    color: red !important;
}

.total{
    width: 30%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 2%
}

.chart{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: sticky;
}

#patientChart{
    background-color: #0194D3;
}

#staffChart{
    background-color: #FFC658;
}

#wardChart{
    background-color: #FC696A;
}

.availableChart{
    background-color: blue;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 8%
}