/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container .MuiTextField-root {
    flex: 1;
  }
  
  .search-container .MuiButton-root {
    margin-left: 10px;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 80px;
    background: linear-gradient(to bottom, #2CAFA4, #0194D3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .sidebar .MuiButton-root {
    color: white;
    font-size: 30px;
    margin-top: 30px;
  }
  
  /* Main Content Styles */
  .main-content {
    flex: 1;
    padding: 40px;
    background-color: #E7F3F5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    border-radius: 8px;
  }
  
  .nav-buttons .MuiButton-root {
    flex-grow: 1;
    font-size: 1.5rem;
    color: black;
    text-align: center;
  }
  
  .nav-buttons .active {
    border-bottom: 2px solid #007bff;
  }
  
  /* Section Styles */
  .supplies-section, .staff-section, .qualification-section, .work-experience-section, .staff-details-form, .qualification-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .supplies-section .MuiTypography-root, .staff-section .MuiTypography-root, .qualification-section .MuiTypography-root, .work-experience-section .MuiTypography-root, .staff-details-form .MuiTypography-root, .qualification-form .MuiTypography-root {
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  .staff-details-form .MuiTextField-root, .qualification-form .MuiTextField-root {
    margin-bottom: 10px;
  }
  
  .staff-details-form .MuiButton-root, .qualification-form .MuiButton-root {
    margin-top: 10px;
    margin-right: 10px;
  }
  
  /* Table Styles */
  .MuiTable-root {
    margin-top: 20px;
  }
  
  .MuiTableHead-root .MuiTableCell-root {
    font-weight: bold;
  }
  
  /* Back Button */
  .back-button {
    align-self: flex-end;
    margin-bottom: 20px;
  }
  